[Unit]
Description=Gunicorn - renan.website
After=network.target

[Service]
User=devops
Group=devops
WorkingDirectory={{ project_folder }}/{{ repo_name }}/website
Environment=DJANGO_SETTINGS_MODULE=website.settings
ExecStart=/home/devops/.local/bin/poetry run gunicorn \
    website.wsgi \
    --bind=localhost:8000 \
    --access-logfile=access.log \
    --log-level=info \
    --log-file=server.log \
    --preload \
    --timeout=2 \
    --threads={{ gunicorn_thread_count | default('2') }} \
    --workers={{ gunicorn_worker_count | default('2') }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
